<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;;">
  <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4 ">Paises</span>
  </a>
  <hr>

  <ul class="nav nav-pills flex-column mb-auto">

    <li class="nav-item" routerLink="countries/by-capital"  >
      <a  class="nav-link " routerLinkActive="active" aria-current="page">
      Por Capital
      </a>
    </li>

    <li routerLink="countries/by-country" >

      <a  class="nav-link text-white"  routerLinkActive="active">
        Por Pais
      </a>
    </li>

    <li routerLink="countries/by-region" >
      <a  class="nav-link text-white"  routerLinkActive="active">
        Por Region
      </a>
    </li>

  </ul>






